<style>
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>

<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li routerLinkActive="active"><a [routerLink]="['/home']">Home</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/flight-booking']">Flug buchen</a></li>
    <li><a [routerLink]="[{outlets: { aux: 'history' }}]">History einblenden</a></li>
    <li><a [routerLink]="[{outlets: { aux: null }}]">History ausblenden</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/codes']">Codes</a></li>
  </ul>
</nav>

<div>

  <div class="row">
    <router-outlet></router-outlet>
  </div>

  <div class="row">
    <router-outlet name="aux"></router-outlet>
  </div>

</div>

<div *ngIf="showWaitInfo">
  <div class="ring">
  </div>
</div>
