<div class="col-lg-5">
  <table class="table table-striped table-condensed table-hover">
    <thead>
    <tr>
      <th>Lfnr</th>
      <th>Bezeichnung</th>
      <th>Typ</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let geschaeft of geschaefte | async; let i = index"  [routerLink]="[geschaeft.lfnr]" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
    <!--<tr *ngFor="let geschaeft of geschaefte | async"  [routerLink]="[geschaeft.lfnr]">-->
      <td> {{geschaeft.lfnr}}</td>
      <td> {{geschaeft.bezhgoffiziell}} </td>
      <td> {{geschaeft.codeGeschTyp}}</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="col-lg-7">
  <router-outlet></router-outlet>
</div>
<!--<router-outlet></router-outlet>-->

